.rate-container {
    /* min-height: 100vh; */
    text-align: center;
    margin: 0 50px 0 50px;
    display: flex;
    gap: 50px;
}

.rate-header {
    text-align: center;
}

.rate-image {
    width: 500px;
    height: 600px;
    object-fit: cover;
    border-radius: 20px;
}

.rate-left {
    width: 800px;
}

.rate-right {
    text-align: justify;
    width: 1500px;
}

.below-description {
    display: flex;
    gap: 100px;
}

.below-description-content {
    text-align: center;
}

.des-con-p {
    font-size: 1.5rem;
}

.des-con-v {
    font-size: 2.5rem;
}

.rateBtn {
    background-color: #cb5745;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
    opacity: 0.9;
    margin-top: 50px;
    border-radius: 20px;
}

.rateBtn:hover {
    background-color: #a63f2f;
    transition: 300ms;
}